:root {
  --color-bg: var(--gradient-light);
  --color-text: var(--neutral-900);
  --color-text-caption: var(--neutral-600);
  --color-el-bg: var(--neutral-0);
  --color-el-border: var(--neutral-100);
  --color-el-bg-variant: var(--neutral-100);
  --color-el-bg-variant-hover: var(--neutral-300);
  --color-focus-ring: var(--red-400);

  --btn-hover-opacity: 0.8;

  --color-btn-bg: var(--neutral-0);
  --color-btn-bg-hover: var(--neutral-0);
  --color-btn-text: var(--neutral-900);
  --color-btn-border: var(--neutral-200);

  --color-btn-danger-bg: var(--red-500);
  --color-btn-danger-bg-hover: var(--red-500);
  --color-btn-danger-border: var(--red-500);
  --color-btn-danger-text: var(--neutral-0);

  --color-toggle-bg: var(--neutral-300);
}