h1, h2, h3 {
  all: unset;
}

h1 {
  font-size: var(--text-logo);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--text-heading);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--text-title);
  font-weight: var(--font-weight-medium);
}