:root {
  /* 🎨 Base Colors */
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0:   hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* 🎨 Gradients */
  --gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* ✍️ Typography */
  --font-body: 'Noto Sans', system-ui, sans-serif;

  --text-logo: 1.25rem;
  --text-heading: 1.75rem;
  --text-title: 1.125rem;
  --text-body: 1rem;
  --text-caption: 0.875rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* 📏 Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  /* 🟦 Radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.75rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.25rem;

  --shadow-default: 0 4px 4px rgba(149, 157, 165, 0.2);
}